/*--------------------------------------------------------------BODY*/

.pokedexName_main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(21, 21, 21);
}

/*--------------------------------------------HEADER*/

.pokedex_header {
    position: fixed;
    width: 100%;
    z-index: 2000;
    top: 0;
}

.header_pokedex_img {
    height: 70px;
    object-fit: cover;
}

.logo_pokedex {
    position: absolute;
    top: 5%;
    left: 0.7em;
    width: 60%;
    max-width: 275px;
}

.pokebola_img {
    position: absolute;
    top: 45%;
    right: 1.2%;
    width: 11%;
    max-width: 85px;
}

/*-------------------------------------------POKEMON ERROR*/

.error_container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
    gap: 2em;
}

.pokemon_error {
    font-size: 180%;
    text-align: center;
    color: white;
}
.pokemon_error_h3 {
    font-size: 130%;
    text-align: center;
    color: white;
}

.pokemon_error span {
    color: red;
}

.pikachu_crying {
    width: 20%;
    min-width: 150px;
    display: flex;
    /* margin-top: 4em; */
}

/*-------------------------------------------FIRST SECTION*/

.first_section {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
    margin-bottom: 3em;
}

.pokemon_img {
    min-width: 100px;
    max-width: 230px;
    border-radius: 50%;
    overflow: visible;
}

.pokemon_name{
    text-transform: capitalize;
    color: rgb(219, 219, 219);
}

.pokemon_id {
    color: rgb(219, 219, 219);
}

.pokemon_size {
    display: flex;
    gap: 2em;
    margin: 1em;
}

.pokemon_weight {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.3em;
    color: rgb(219, 219, 219);
}

.pokemon_height {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.3em;
    color: rgb(219, 219, 219);
}

.pokemon_info {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 2em;
}

.types_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    text-align: center;
    text-transform: capitalize;
}

.types_container h3 {
    color: rgb(219, 219, 219);
}

.pokemon_types {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    text-align: center;
}

.type {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8em;
    min-width: 120px;
    max-width: 150px;
    border-radius: 1em;
    color: black;
}

.abilities_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5em;
    text-transform: capitalize;
}

.abilities_container h3 {
    color: rgb(219, 219, 219);
}

.pokemon_abilities {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    text-align: center;
}

.ability {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8em;
    min-width: 120px;
    max-width: 150px;
    border-radius: 1em;
    background-color: rgba(255, 255, 255, 0.274);
}

/*-------------------------------------------SECOND SECTION*/

.second_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15%;
    background-color: rgb(21, 21, 21);
}

.second_section h2 {
    color: rgb(219, 219, 219);
}

.stat_list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.stat_block {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.stat_properties {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stat_name {
    text-transform: uppercase;
    color: rgb(219, 219, 219);
}

.stat_value {
    color: rgb(219, 219, 219);
}

.statBar_father {
    width: 100%;
    height: 25px;
    border-radius: 1em;
    position: relative;
    background-color: rgba(0, 0, 0, 0.363);
}

.statBar_son {
    position: absolute;
    border-radius: 1em;
    width: 50%;
    height: 25px;
    background: linear-gradient(90deg, rgba(221,140,26,1) 18%, rgba(255,244,0,1) 100%);
}

/*-------------------------------------------THIRD SECTION*/

.third_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2.5em 15%;
    background-color: rgb(21, 21, 21);
    gap: 1em;
}

.movements_grill {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax( 120px, 1fr));
    gap: 0.5em;
}

.movement {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.5em;
    background-color: rgba(255, 255, 255, 0.096);
    border-radius: 1em;
    cursor:default;
    text-transform: capitalize;
    font-weight: 500;
}

.movement:hover {
    background-color: rgba(255, 255, 255, 0.274);
}

/*--------------------------------------------FOOTER*/

.pokedexName_footer_img{
    width: 100%;
}

/*------------------------------------------------------------TYPES COLORS*/

.normal {
    background: rgb(201, 175, 152);
}

.bg-normal {
    background:linear-gradient(0deg, rgba(111,88,54,1) 30%, rgba(255,203,222,1) 95%);
}

.fighting {
    background: rgb(255, 170, 101);
}

.bg-fighting {
    background: linear-gradient(0deg, rgba(163,83,17,1) 30%, rgba(255,172,109,1) 100%);
}

.flying {
    background: rgb(0, 131, 17);
}

.bg-flying {
    background: linear-gradient(0deg, rgba(131,131,131,1) 30%, rgba(255,255,255,1) 95%);
}

.poison {
    background: rgb(162, 62, 255);
}

.bg-poison {
    background: linear-gradient(0deg, rgba(45,0,94,1) 30%, rgba(157,52,255,1) 95%);}

.ground {
    background: rgb(240, 208, 103);
}

.bg-ground {
    background: linear-gradient(0deg, rgba(135,106,25,1) 30%, rgba(255,205,115,1) 100%);
}

.rock {
    background: rgb(214, 156, 48);
}

.bg-rock {
    background: linear-gradient(0deg, rgba(98,60,24,1) 30%, rgba(237,125,20,1) 100%);
}

.bug {
    background: rgb(66, 180, 0);
}

.bg-bug {
    background: linear-gradient(0deg, rgba(80,190,0,1) 30%, rgba(0,255,154,1) 95%);}

.ghost {
    background: rgb(170, 113, 224);
}

.bg-ghost {
    background: linear-gradient(0deg, rgba(88,59,117,1) 30%, rgba(169,111,255,1) 100%);
}
.steel {
    background: rgb(190, 192, 190);
}

.bg-steel {
    background: linear-gradient(0deg, rgba(113,112,113,1) 30%, rgba(216,216,216,1) 100%);
}

.fire {
    background: rgb(255, 30, 0);
}

.bg-fire {
    background: linear-gradient(0deg, rgba(190,51,0,1) 18%, rgba(255,244,0,1) 100%);
}

.water {
    background: rgb(0, 122, 131);
}

.bg-water {
    background: linear-gradient(0deg, rgba(0,58,190,1) 30%, rgba(0,241,255,1) 95%);

}

.grass {
    background: rgb(32, 151, 48);
}

.bg-grass {
    background: linear-gradient(180deg, rgb(118, 255, 232) 43%, rgb(102, 230, 119) 100%);
}

.electric {
    background: rgb(255, 224, 47);
}

.bg-electric {
    background: linear-gradient(0deg, rgba(166,113,0,1) 30%, rgba(247,255,52,1) 100%);
}

.psychic {
    background: rgb(209, 76, 191);
}

.bg-psychic {
    background: linear-gradient(0deg, rgba(124,39,124,1) 30%, rgba(233,58,213,1) 100%);
}

.ice {
    background: rgb(52, 120, 165);
}

.bg-ice {
    background: linear-gradient(0deg, rgba(15,84,146,1) 30%, rgba(66,182,252,1) 100%);
}

.dragon {
    background: rgb(81, 39, 129);
}

.bg-dragon {
    background: linear-gradient(0deg, rgba(34,13,70,1) 30%, rgba(161,94,255,1) 100%);
}

.dark {
    background: rgb(54, 56, 54);
}

.bg-dark {
    background: linear-gradient(0deg, rgba(0,0,0,1) 30%, rgba(53,52,54,1) 100%);
}

.fairy {
    background: rgb(255, 158, 195);
}

.bg-fairy {
    background: linear-gradient(0deg, rgba(209,86,136,1) 30%, rgba(255,158,194,1) 100%);
}